header {
  margin: 2rem auto;
}
header > .text-2xl {
  font-family: "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  letter-spacing: -.05rem;
  text-align: center;
  padding-top: 1rem;
}

#blog header > .text-2xl {
  font-size: 4rem;
}

header > p.font-bold {
  font-weight: normal;
  font-style: italic;
  opacity: 0.8;
  text-align: center;
}

code, kbd, samp, pre {
  font-size: 0.85rem;
}

.post-date {
  font-family: monospace;
  font-style: normal;
  padding-top: .35rem;
}
