header {
  margin: 2rem auto;
}
header > .text-2xl {
  font-family: "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  color: #393939;
  letter-spacing: -2.5px;
  line-height: 2.25rem;
  text-align: center;
  padding-top: 1rem;
}

#blog header > .text-2xl {
  font-size: 4rem;
}

header > p.font-bold {
  font-weight: normal;
  font-style: italic;
  letter-spacing: -1px;
  opacity: .8;
  text-align: center;
  padding-top: .5rem;
}

code, kbd, samp, pre {
  font-size: 0.9rem;
}

.post-date {
  font-family: monospace;
  font-style: normal;
  opacity: .8;
  padding-top: .2rem;
  letter-spacing: -1px;
  width: 108px;
}
